<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/static/bootstrap/css/bootstrap.min.css")
    @Styles.Render("~/static/bootstrap/css/navbar-top-fixed.css")
    @Styles.Render("~/static/List.css")
    @Styles.Render("~/static/Item.css")
</head>
<body>
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark shadow-lg">
        <a class="navbar-brand" href="#">.storage</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Категории
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item active" href="/list/all/1">Все</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item active" href="/list/1">Item.name</a>
                        <a class="dropdown-item" href="/list/1">Item.name</a>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Link</a>
                </li>
            </ul>
            <form class="form-inline mt-2 mt-md-0">
                <input class="form-control mr-sm-2" type="text" placeholder="Имя программы..." aria-label="Search" />
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Поиск</button>
            </form>
        </div>
    </nav>
    <div class="container body-content">
        @RenderBody()
        <footer class="mt-4">
            <hr />
            <p>@DateTime.Now.Year - PASHKARKASTAN Studio</p>
        </footer>
    </div>

    @Scripts.Render("~/static/bootstrap/js/jquery-3.3.1.slim.min.js")
    @Scripts.Render("~/static/bootstrap/js/popper.min.js")
    @Scripts.Render("~/static/bootstrap/js/bootstrap.min.js")
</body>
</html>
