<nav aria-label="navigation page block" class="my-3">
    <ul class="pagination justify-content-center">
        <li class="page-item shadow-lg"><a class="page-link" href="@Url.RouteUrl("List", new { controller = "List", categ = ViewBag.Pagintaion.Category, id = 1 })">Первая</a></li>
        @foreach (var item in ViewBag.Pagination.pageNumberList)
        {
            if (ViewBag.Pagination.CurrentPage == item)
            {
                <li class="page-item active shadow-lg"><a class="page-link" href="@Url.RouteUrl("List", new { controller = "List", categ = ViewBag.Pagintaion.Category, id = item })">@item</a></li>
            }
            else
            {
                <li class="page-item shadow-lg"><a class="page-link" href="@Url.RouteUrl("List", new { controller = "List", categ = ViewBag.Pagintaion.Category, id = item })">@item</a></li>
            }
        }
        <li class="page-item shadow-lg"><a class="page-link" href="@Url.RouteUrl("List", new { controller = "List", categ = ViewBag.Pagintaion.Category, id = ViewBag.Pagination.MaxPage })">Последняя (@ViewBag.Pagination.MaxPage)</a></li>
    </ul>
</nav>