@{
    ViewBag.Title = Model.Name;
}

<div class="container mt-2">
    <div class="card mb-3 shadow-lg">
        @Html.Partial("ImgSlider")
        <div class="card-body">
            <h4 class="card-title"><b>@Model.Name</b></h4>
            <p class="card-text">
                <b>Официальный сайт: </b><a href="@Model.Program.off_site" target="_blank">ссылка</a>
                <br>
                <b>Платформа: </b><a href="@Model.Program.platforms.off_site" target="_blank">@Model.Program.platforms.name</a>
            </p>
            <div class="card-text">
                <b>Описание:</b>
                <div class="description">
                    @Html.Raw(Model.Desc)
                </div>
            </div>
            @Html.Partial("SpoilersItem")
        </div>
    </div>
    @Html.Partial("UserAgreement")
</div>

