@{
    ViewBag.Title = "Home Page";
}

@*@section Styles {
    <link href="@Url.Content("~/Content/OptCSS/List.css")" rel="stylesheet" type="text/css" />
}*@

<nav aria-label="navigation page block" class="mt-2">
    <ul class="pagination justify-content-center">
        <li class="page-item shadow-lg"><a class="page-link" href="@Url.RouteUrl("Default", new { id = 1 })">Первая</a></li>
        @foreach (var item in ViewBag.Pagination.pageNumberList)
        {
            if (ViewBag.Pagination.CurrentPage == item)
            {
                <li class="page-item active shadow-lg"><a class="page-link" href="@Url.RouteUrl("Default", new { id = item })">@item</a></li>
            }
            else
            {
                <li class="page-item shadow-lg"><a class="page-link" href="@Url.RouteUrl("Default", new { id = item })">@item</a></li>
            }
        }
        <li class="page-item shadow-lg"><a class="page-link" href="@Url.RouteUrl("Default", new { id = ViewBag.Pagination.MaxPage })">Последняя (@ViewBag.Pagination.MaxPage)</a></li>
    </ul>
</nav>
@foreach (var list in ViewBag.Preposts)
{
    <div class="container mt-2">
        <div class="card-deck">
            @foreach (var item in list)
            {
                <div class="card text-center shadow-lg">
                    <img class="card-img-top listIMG align-self-center image-wrap" src="@item.Poster" alt="Card image cap">
                    <div class="card-body">
                        <p class="card-title">@item.Name</p>
                    </div>
                    <div class="card-footer">
                        <div class="container mx-auto">
                            <form>
                                <a href="@Url.RouteUrl("Default", new {controller = "Item", action = "Index", id = item.Id })"><button type="button" class="btn btn-primary">Подробнее</button></a>
                                <button type="button" class="btn btn-success">Скачать</button>
                            </form>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
}
<nav aria-label="navigation page block" class="mt-2">
    <ul class="pagination justify-content-center">
        <li class="page-item shadow-lg"><a class="page-link" href="@Url.RouteUrl("Default", new { id = 1 })">Первая</a></li>
        @foreach (var item in ViewBag.Pagination.pageNumberList)
        {
            if (ViewBag.Pagination.CurrentPage == item)
            {
                <li class="page-item active shadow-lg"><a class="page-link" href="@Url.RouteUrl("Default", new { id = item })">@item</a></li>
            }
            else
            {
                <li class="page-item shadow-lg"><a class="page-link" href="@Url.RouteUrl("Default", new { id = item })">@item</a></li>
            }
        }
        <li class="page-item shadow-lg"><a class="page-link" href="@Url.RouteUrl("Default", new { id = ViewBag.Pagination.MaxPage })">Последняя (@ViewBag.Pagination.MaxPage)</a></li>
    </ul>
</nav>
