@{
    ViewBag.Title = "Home Page";
}

@Html.Action("Index", "Pagination", new { pagintaion = ViewBag.Pagination })

@foreach (var list in ViewBag.Preposts)
{
    <div class="container mt-2">
        <div class="card-deck">
            @foreach (var item in list)
            {
                <div class="card text-center shadow-lg">
                    <img class="card-img-top listIMG align-self-center image-wrap" src="@item.Poster" alt="img @item.Name">
                    <div class="card-body">
                        <p class="card-title">@item.Name</p>
                    </div>
                    <div class="card-footer">
                        <div class="container mx-auto">
                            <form>
                                <a href="@Url.RouteUrl("List", new {controller = "Item", action = "Index", id = item.Id })"><button type="button" class="btn btn-primary">Подробнее</button></a>
                                <button type="button" class="btn btn-success">Скачать</button>
                            </form>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
}

@Html.Action("Index", "Pagination", new { pagintaion = ViewBag.Pagination })
